<h1><%= @team.name %></p><br>
<br>
<h2>Team Motto: <%= @team.motto %></p><br>
<br>
<% @heroes.each do |hero| %>
<h2>Hero Name: <%= hero.name %></h2><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
<% end %>